.name-placement{

    width: 100%;
    position: absolute;
   
    bottom: 0;
    text-align: center;
    padding: 83px;
    height: 310px;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
}
.font56{
    padding-top: 51px;
    font-size:38px ;
}
.myborder{
    
   padding-top: 15px
    
}

.profile-header{
width: 100%;
position: relative;
    
}

.profile-image{
    padding-top: 0px;
    height: 100%;
    width: 100%;
    
}
.profiler{
    padding-top: 5px;
}
.fd{
    margin: 20px 0 15px 0;
    background: #373737e8;;
   padding: 8px;
   color: aliceblue;
}
.gh{
    
    width: 100%;
   font-size: 22px;
   padding: 0px;
}
.gh2{
    
    width: 100%;
    font-size: 14px;  
}
.ds{padding:20px;
padding-left: 40px;
padding-right: 40px;
}