
.loginscreen.container{
    max-width: 900px;
    padding: 38px 60px;
}

.headerwrapper {
    text-align: right;
    
color: #2F2F30;
background-color: whitesmoke;
 padding: 5px;
 
}
.login-state{
    text-align: end;
}
.designWrapper{
    text-align: left;
    font-size: 20px;
    padding: 8px;
    width: 100%;
    letter-spacing: 3px;
    color: #646F78    ;
    background-color: #F7F7F7;
}

.logo-button{
    text-decoration: none;
    color: #646F78    ;
}
.blog-wrapper{
    background-color: aqua;
    width:375px ;
    height: 50px;
    padding: 10px;
  
}
.mainBlogWrapper{
    margin-bottom:15px;
    margin-top:15px;
    
    
    
}
.forgotpswdLink{
    float: right;
    padding: 33px 24px 24px 24px;
    font-size: 13px;  
}
.registerLink{
    padding: 54px 24px 24px 24px;
    font-size: 16px;
}
.loginscreen.container {
    max-width: 600px;
    padding: 84px 60px;
}
.card_img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card {
    width: 100%;
    display: inline-block;
    min-height: 424px;
    padding: 15px 10px 15px 10px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    border-radius: 5px;
    border: 1px solid #d6d6d6;
}

.loaderOn{
     height: 6px;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-color: #ddd;
}
.loaderOff {
    visibility: hidden;;
    height: 6px;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-color: #ddd;
  }
  .loaderOn:before{
    display: block;
    position: absolute;
    content: "";
    left: -200px;
    width: 200px;
    height: 4px;
    background-color: #2980b9;
    animation: loading 0.5s linear infinite;
  }
  
  @keyframes loading {
      from {left: -200px; width: 30%;}
      50% {width: 30%;}
      70% {width: 70%;}
      80% { left: 50%;}
      95% {left: 120%;}
      to {left: 100%;}
  }

  input {
      display: block;
   margin-left: 25px;
    border: none;
    outline: none;
    background: none;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    width: 60%;
  }
  
h3,h5{
    padding:15px 25px 10px 25px;
}


button{
    margin-top: 15px;
    margin: 25px;
    text-align: center;
    font-size: 46px;
}

.branding{
    text-align: center;
    color: #fff ;

    padding:8px;
    background: #2F2F30;
    font-size: 24px;
}


.container-fluid {
    margin-right: auto;
    margin-left: auto;
}

.carousel{
    position: relative;
    height: 410px;
    overflow: hidden;
    
}
a.login-btn {
    padding: 4px 20px;
    background: #262626;
    color: #fff;
    font-size: 16px;
    border-radius: 3px;
    letter-spacing: normal;
    font-weight: 300;
    text-transform: capitalize;
    float: right;
}
h1,h3,h4{
    color: #414346;
}
.profile-btn{
    float: right;
    font-size: 13.5px;
    padding: 5px;
    padding-right: 22px;
}

